backend/services/schemas/sped_efd_schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="EFD">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Identificacao">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Titulo" type="xs:string"/>
              <xs:element name="GeradoEm" type="xs:dateTime"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="KPIs" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="KPI" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Label" type="xs:string"/>
                    <xs:element name="Valor" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Inconsistencias" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Inconsistencia" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Codigo" type="xs:string"/>
                    <xs:element name="Campo" type="xs:string"/>
                    <xs:element name="Severidade" type="xs:string"/>
                    <xs:element name="Mensagem" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Lancamentos" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Lancamento" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Debito" type="xs:string"/>
                    <xs:element name="Credito" type="xs:string"/>
                    <xs:element name="Valor" type="xs:decimal"/>
                    <xs:element name="Historico" type="xs:string" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
